.app {
  text-align: center;
}

button {
  padding: 0.25em 0.5em;
  font-size: 1.5rem;
}
input {
  margin: 0.75em;
  padding: 0.5em;
  font-size: 1.5em;
}

.user-list {
  list-style: none;
  columns: 2;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.follow-button {
  font-size: 1rem;
}
